
body{
    height:500px;
    font-size:120%;
    background: url(https://images.unsplash.com/photo-1611003228941-98852ba62227?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFieSUyMGRvZ3xlbnwwfHwwfHw%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.card{
    padding:2.5em;
   
    background-color: #ddddddd0;
    border-radius: 30px;

}
.search{
    padding:1.5em;
}
button{
    padding:1.5em;
    border-radius:30px;
    border:none;
    background-color: #c8afafc7;

}